{% if user.role == 'SUPER_ADMIN' %}
    {% extends 'super_admin.twig' %}
{% elseif user.role == 'ADMIN' %}
    {% extends 'admin.twig' %}
{% else %}
    {% extends 'manager.twig' %}
{% endif %}
{#{% extends '../layout.twig' %}#}
{% block styles %}
    <link rel="stylesheet" href="/admin-lte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% block content %}
   
    <div class="box" style="border-top: 3px solid #4892bb;">
        <div class="box-header">
            <h3 class="box-title">List of Suppliers</h3>
        </div>


        <!-- /.box-header -->
        <div class="box-body">
            <div style="height:50px;"></div>
            <table id="table" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th  style="display:none;">ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Telephone</th>
                    <th>E-Mail</th>
                    <th>State</th>
                    {% if user.role == 'ADMIN' or user.role == 'SUPER_ADMIN' %}
                    <th style="text-align: center">Action</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody id="tbody">
                {% for result in results %}
                    <tr>
                        <td  style="display:none;">{{ result.id }}</td>
                        <td>{{ result.supplierName }}</td>
                        <td>{{ result.address }}</td>
                        <td>{{ result.telephone }}</td>
                        <td>{{ result.email }}{{ result.state }}</td>
                        <td>
                            {% if result.state == '1' %}
                                Active
                            {% else %}
                                Inactive
                            {% endif %}
                        </td>
                        {% if user.role == 'ADMIN' or user.role == 'SUPER_ADMIN' %}
                        <div>
                            <td style="text-align: center">

                                <a class="btn btn-success fa fa-edit"
                                   href="{{ getURL('get.supplier.edit')~'?id='~result.id }}"></a>
                                <a class="btn btn-danger fa fa-trash" onclick="deleteSupplier({{ result.id }})"></a>

                            </td>
                        </div>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
{% endblock %}
    {% block onloadJS %}

     
        <script type="text/javascript" src="../js/bootbox.min.js"></script>

        <script type="text/javascript">
            var url2 = '{{ getURL('post.supplier.delete') }}';
        </script>

        <script>
            function deleteSupplier(id) {
                bootbox.confirm("Are you sure that you want to delete this supplier?", function(confirm) {
                    if(confirm) {
                        var data = {
                            id: id
                        }
                        $.ajax({
                            type: "POST",
                            url: url2,
                            data: data,
                            success: function (result) {
                                bootbox.alert("Supplier deleted!", function () {
                                    location.reload();
                                });
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                bootbox.alert("Supplier deletion failed!", function () {
                                    location.reload();
                                });
                            }
                        });
                    }
                });
            }
        </script>

        <script src="/admin-lte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="/admin-lte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script>
            let theadCount = $('table').find('th').length;
            let removeOrderOn = theadCount - 1;
            let orderable = true;
            if (removeOrderOn > 5) {
                orderable = false
            }
            $(function () {
                $('#table').DataTable({
                    'paging': true,
                    'lengthChange': false,
                    'searching': true,
                    'ordering': true,
                    'info': true,
                    "order": [[1, "desc"]],
                    'autoWidth': false,
                    "columnDefs": [
                        {
                            "targets": [removeOrderOn], //first column / numbering column
                            "orderable": orderable, //set not orderable
                        },
                    ],
                });
            })
        </script>
    {% endblock %}