{% if user.role == 'SUPER_ADMIN' %}
    {% extends 'super_admin.twig' %}
{% elseif user.role == 'ADMIN' %}
    {% extends 'admin.twig' %}
{% else %}
    {% extends 'manager.twig' %}
{% endif %}
{% block styles %}

{% endblock %}
{% block content %}


    <div>
        <form id="main_form" method="post" name="data" action="{{ getURL('post.requestinventory.post') }}">
            <div>
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Transfer Info</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    
                    <div class="box-body">
                        <input id="transferId" name="transferId" value="{{ results[0].transferId }}" hidden>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="inputEmail3" class="col-sm-3 control-label">NO</label>
                                <div class="col-sm-9">
                                    <input type="text" id="grnNo" name="grnNo" class="form-control" readonly value="{{grnNo}}">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="inputEmail3" class="col-sm-3 control-label">Transfer Type</label>
                                <div class="col-sm-9" id="transfer">
                                    <select class="form-control" id="typeId" name="typeId" >
                                            <option value="4">Order Request</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="inputEmail3" class="col-sm-3 control-label">Source</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="source" name="source" >
                                            <option  value="{{ transferInfo.destination_id }}">{{ transferInfo.destination_name }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-sm-6" id="dest">
                                <label for="inputEmail3" class="col-sm-3 control-label">Destination</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="destination" name="destination" >
                                            <option value="{{ transferInfo.source_id }}">{{ transferInfo.source_name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6" id="dest">
                                <label for="inputEmail3" class="col-sm-3 control-label">Invoice Number</label>
                                <div class="col-sm-9">
                                    <input type="text" id="invoiceNumber" name="invoiceNumber" list=""
                                           class="form-control" autocomplete="off" disabled>
                                    <datalist class="form-control" id="suggestion1" style="display: none">

                                    </datalist>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>


            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Product Info</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">
                    <div class="box-body" style="padding: 0;">


                        <div class="row">
                            <div class="form-group col-sm-3" style="margin: 0">
                                <label for="barcode" class="col-sm-3 control-label">Search</label>
                                <div class="col-sm-9">
                                    <input type="text" id="barcode" name="barcode" list="suggestion1"
                                           class="form-control"  placeholder="Search..">
                                </div>
                            </div>

                            <div class="form-group col-sm-3" style="margin: 0">
                                <div class="row">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Barcode</label>
                                    <div class="col-sm-9">
                                        <input id="barcode1" class="form-control" placeholder="Barcode" readonly>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Product Name</label>
                                    <div class="col-sm-9">
                                        <input id="productName1" style="font-size:12px" class="form-control"
                                               placeholder="Product Name" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-2" style="margin: 0">
                                <label for="inputEmail3" class="col-sm-3 control-label">QIH</label>
                                <div class="col-sm-9">
                                    <input type="number" id="qih" class="form-control" placeholder="QIH" readonly>
                                </div>
                            </div>

                            <div class="form-group col-sm-2" style="margin: 0">
                                <label for="inputEmail3" class="col-sm-3 control-label">Unit Price</label>
                                <div class="col-sm-9">
                                    <input type="number" id="unitPrice" class="form-control">
                                </div>
                            </div>

                            <div class="form-group col-sm-2" style="margin: 0">
                                <label for="inputEmail3" class="col-sm-3 control-label">Qty</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="qty">
                                </div>
                            </div>

                        </div>


                        <div style="height: 10px">

                        </div>


                        <div class="form-group col-sm-11">

                        </div>
                        <div class="form-group col-sm-1">
                            <button type="button" id="add" name="add" class="btn btn-info pull-right"
                                    style=" margin-right: 0px;" >Add
                            </button>
                        </div>

                        <div style="height: 40px"></div>


                        <table id="table" name="table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="display:none;">Product ID</th>
                                <th>Barcode</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Line Total</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody name="body">
                            {% for result in results %}
                                <tr id="">
                                    <td style="display:none;">{{ result.product.id }}</td>
                                    <td>{{ result.product.barcode }}</td>
                                    <td>{{ result.product.productName }}</td>
                                    <td>{{ result.qty }}</td>
                                    <td>{{ result.cost }}</td>
                                    <td>{{ result.cost*result.qty }}</td>
                                    <td><button type="button" class="btn btn-danger btn-sm rowDeleteButton" value="new button"><i class="fa fa-trash"></i></button></td>

                                </tr>
                            {% endfor %}
                            </tbody>
                            {{ app.request.uri }}
                        </table>


                        {#<button class="btn btn-danger editbtn" id="rowDeleteButton" >
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>#}

                        <label for="inputEmail3" id="dd" class="control-label col-sm-12">Estimated Total
                            Price(LKR)</label>
                        <label for="inputEmail3" id="total" class="control-label col-sm-12"></label>

                        <label for="inputEmail3" id="dd" class="control-label col-sm-12">Total Units</label>
                        <label for="inputEmail3" id="total_units" class="control-label col-sm-12"></label>
                        <div style="height: 20px"></div>
                        <div class="form-group col-sm-11">
                        </div>
                        <div class="form-group col-sm-2">
                            <button type="submit" id="confirm" class="btn btn-info pull-right"
                                    style=" margin-right: 0px;" disabled>Confirm
                            </button>
                            <button id="reject" name="reject" type="button" class="btn btn-danger pull-left">Reject</button>
                        </div>
                        <!-- end table   -->
                        <!-- /.box-body -->

                        <!-- /.box -->
                    </div>

                </div>
                {#</form>#}

            </div>

        </form>
           <div class="form-group col-sm-1">

           </div>
    </div>


{% endblock %}
    {% block onloadJS %}

        <script>
            var url3 = '{{ getURL('get.store.search_by_barcode_product_name_one') }}';
            var url2 = '{{ getURL('get.store.combo_update') }}';
            var url1 = '{{ getURL('get.common.row') }}';
            var url = '{{ getURL('post.inventory.post') }}';
            var url4 = '{{ getURL('post.store.order_reject') }}';
        </script>



        <script>
            $(document).ready(function () {
                let user = {{ user|json_encode }};
                if (user.role != 'ADMIN') {
                    $('#typeId option:contains(Store In)').remove();
                }
                $('#transfer').on('change', function () {

                    $("input").prop('disabled', false); 

                });



            });
        </script>
        <script type="text/javascript" src="../js/bootbox.min.js"></script>
        <script type="text/javascript" src="../controller/backend/store/response_order_request_controller.js"></script>

    {% endblock %}