{% if user.role == 'SUPER_ADMIN' %}
    {% extends 'super_admin.twig' %}
{% else %}
    {% extends 'admin.twig' %}
{% endif %}

{% block styles %}

{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
   
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Edit Storein</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="row">
            <div class="col-sm-8">
                <form class="form-horizontal" id="data">
                    {% for result in results %}
                        <div class="box-body col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-9">
                                    {#<input type="text" class="form-control" id="id" name="id" value={{ result.id }}  readonly/>#}
                                    <input type="hidden" name="id" value={{ result.id }}>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Category Name</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Name"
                                           value="{{ result.categoryName }}"  required>
                                </div>

                            </div>



                            <div class="form-group">
                                <div class="col-sm-offset-10 col-sm-2">
                                    <button style="width: 100%" type="button" id="update" class="btn btn-info pull-right">Update</button>
                                </div>
                            </div>
                        </div>
                      
                        <!-- /.box-footer -->
                    {% endfor %}
                </form>
            </div>
            <div class="col-sm-4">
            </div>
        </div>

    </div>
    
{% endblock %}
    {% block onloadJS %}
        <script type="text/javascript" src="../js/bootbox.min.js"></script>

        <script type="text/javascript">

            $('#update').click(function(){

                let isValid = validateForm();

                if(isValid) {
                    bootbox.confirm("Are you sure that you want to update the category?", function(confirm) {
                        if(confirm) {
                            let data = $('#data').serialize();
                          

                            $.ajax({
                                type: "POST",
                                url: "{{ getURL('post.category.update') }}",
                                data: data,
                                success: function (result) {
                                    console.log(result);

                                    if(result.status === 500) {
                                        bootbox.alert("Category Already Exist", function () {
                                            window.location.reload();
                                        });
                                    }else {
                                        bootbox.alert("Your Change saved", function () {
                                            let redirectUri = "{{ getURL('get.category.list') }}";
                                            window.location.replace(redirectUri);
                                        });
                                    }

                                }
                            });
                        }
                    });
                }

            });

            function validateForm() {
                if($('#categoryName').val().length > 0) {
                    return true;
                }

                bootbox.alert('Please Enter Category name');

                return false;
            }


        </script>

    {% endblock %}